nav {
    height: 50px;
}

li:hover {
    border-top: 3px solid cyan;
    border-bottom: 3px solid transparent;
}

#hosto-slider {
    height: 300px;
}
#hosto-slider img {
    height: 300px;
}


.bolder {
    font-family: 'Fredoka One', cursive;
}

.hosto-primary {
    color: #07aca0;
}

.hosto-secondary {
    color: #3e5161;
}

.tech img {
    opacity: 0.2;
}

.tech img:hover {
    opacity: 1;
}